<h3> Add a new list:</h3>

  <form action="/lists" method="post">
  <label for="name">Name of the List</label>
  <input id="name" placeholder="name" name="name" type="text">


  <button type="submit" class="btn-success" placeholder="submit">Add List</button>
  </form>
